@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.card {
  width: 30%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 2rem auto;
  background: #fafafa;
  align-items: center;
}

.image {
  width: 70%;
  padding: 2rem;
  cursor: pointer;
}

.product-details {
  padding: 30px;
}

.ui.card.card {
  background-color: #f6f6f6;
  padding: 0.5rem;
}

.a-links {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.a-links:hover {
  color: #fbb72c;
}
