.list {
  width: 20%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.item {
  color: rgb(102, 99, 99);
  padding: 0 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
}

.item:hover {
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
